<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
    <title>显示学生信息</title>  
    <meta charset="UTF-8"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1"/>  
   <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/> 
<script type="text/javascript" th:src="@{js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
</head>  
<body>  
<div class="container">  
    <div class="row">  
        <div class="col-md-5">  
            <div class="panel panel-primary">  
                <div class="panel-heading text-center">  
                    <span class="panel-title">用户信息</span>  
                </div>  
                <div class="panel-body">  
                    编号：<span th:text="${user.id}"></span><br/>  
                    用户名：<span th:text="${user.username}"></span><br/>  
                    密码：<span th:text="${user.password}"></span><br/>  
                    电话：<span th:text="${user.telephone}"></span><br/>  
                    注册时间：<span th:text="${#dates.format(user.registerTime, 'yyyy-MM-dd hh:mm:ss')}"></span><br/>  
                    权限：<span th:text="${user.popedom==0?'管理员':'普通用户'}"></span><br/>  
                </div>  
                <div class="panel-footer text-right">  
                    <span class="panel-title">sss@10</span>  
                </div>  
            </div>   
        </div>  
    </div>  
    <div class="row">  
        <div class="col-md-5">  
            <div class="panel panel-primary">  
                <div class="panel-heading text-center">  
                    <span class="panel-title">用户信息</span>  
                </div>  
                <div class="panel-body">  
                    <div th:object="${user}">  
                        编号：<span th:text="*{id}"></span><br/>  
                        用户名：<span th:text="*{username}"></span><br/>  
                        密码：<span th:text="*{password}"></span><br/>  
                        电话：<span th:text="*{telephone}"></span><br/>  
                        注册时间：<span th:text="*{#dates.format(registerTime, 'yyyy-MM-dd hh:mm:ss')}"></span><br/>  
                        权限：<span th:text="*{popedom==0?'管理员':'普通用户'}"></span><br/>  
                    </div>  
                </div>  
                <div class="panel-footer text-right">  
                    <span class="panel-title">sss@10</span>  
                </div>  
            </div>  
        </div>  
    </div>  
</div>  
</body>  
</html>  